name: Cypress Tests

on: [pull_request]

jobs:
  e2e:
    runs-on: ubuntu-latest
    name: cypress tests
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      -name: install dependencies
        uses: bahmutov/npm-install@v1.4.5
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          build: yarn build
          start: yarn e2e:headless